:root {
    --font: 'Raleway', sans-serif;
    --font-subtitle: 'Lato', sans-serif;
    --font-title: 'Quattrocento Sans', sans-serif;
    --color: black;
}

body {
    font-family: var(--font);
}

/* Navbar */

.subtitle {
    font-family: var(--font-subtitle);
    letter-spacing: 0.3rem;
    font-size: 0.85rem;
    color: var(--color);
}

.navbar-light .navbar-nav .nav-link {
    color: var(--color);
}

.image-home1 {
    height: 90%;
}

/* Ajuste de tamaño en móvil */

@media only screen and (max-width: 600px) {
    .image-home1 {
        width: 100%;
        height: 100%;
    }
    .logo {
        width: 200px;
    }
    .image-home2{
        width: 90%
    }
    .cover-item {
        width: 60%;
    }
}

@media only screen and (min-width: 1024px) {
    .container {
        max-width: 100%;
    }
    .cover-item {
        width: 30%;
    }
}

.title {
    font-family: var(--font-title);
}

.btn-primary {
    background-color: var(--color);
    color: white;
    border-radius: 0px !important;
    letter-spacing: 0.1rem;
    border: 1px solid var(--color);
}

.btn-secondary {
    background-color: white;
    border: 1px solid var(--color);
    border-radius: 0px !important;
    color: var(--color);
    font-weight: bold;
}

.container2 {
    position: relative;
    text-align: center;
    color: white;
}

.bottom-right {
    position: absolute;
    bottom: 150px;
    right: 100px;
}

.subtitle2 {
    font-family: var(--font-subtitle);
}

.cover-container {
    width: 100%;
    white-space: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
}
.cover-item {
    position: relative;
    display: inline-block;
    margin: 8px 8px;
    vertical-align: bottom;
    background-position: top left;
    background-repeat: no-repeat;
    background-size: cover;
}

.espaciado{
    margin-bottom: 7rem !important;
}

a{
    color: var(--color);
}