:root {
    --font: 'Raleway', sans-serif;
    --font-subtitle: 'Lato', sans-serif;
    --font-title: 'Quattrocento Sans', sans-serif;
    --color: black;
    --gray: #6c757d;
    --font-comillas: 'Passion One', cursive;
}

body {
    font-family: var(--font);
    display: flex;
    flex-direction: column;
}

main {
    min-height: 70vh;
}

/* Navbar */

.subtitle {
    font-family: var(--font-subtitle);
    letter-spacing: 0.3rem;
    font-size: 0.85rem;
    color: var(--color);
}

.navbar-light .navbar-nav .nav-link {
    color: var(--color);
}

.image-home1 {
    height: 90%;
}

.image-testimonio {
    width: 90%;
}

.image-home3 {
    height: 85%;
}

.image-home2 {
    width: 349.25px;
}

.image-galeria {
    width: 250px;
    height: 169px;
}

/* Ajuste de tamaño en móvil */

@media only screen and (max-width: 640px) {
    .image-home1 {
        width: 100%;
        height: 100%;
    }
    .image-testimonio {
        width: 100%;
        height: 100%;
    }
    .logo {
        width: 200px;
    }
    .image-home2 {
        width: 90%
    }
    .image-home3 {
        width: 100%;
        height: 100%;
    }
    .cover-item {
        width: 60%;
    }
    .image-home1-1 {
        width: 100%;
    }
    .contactos {
        font-size: 5vw;
    }
    .image-galeria {
        width: 100%;
        height: 100%;
    }
    .comillas {
        font-size: 2.5rem !important;
    }
}

@media only screen and (min-width: 1024px) {
    .container {
        max-width: 100%;
    }
    .cover-item {
        width: 30%;
    }
    .espaciado {
        margin-bottom: 7rem !important;
    }
}

.espaciado-lineas {
    line-height: 1.7em;
}

.title {
    font-family: var(--font-title);
}

.btn-primary {
    background-color: var(--color);
    color: white;
    border-radius: 0px !important;
    letter-spacing: 0.1rem;
    border: 1px solid var(--color);
}

.btn-primary:hover {
    background-color: var(--gray) !important;
    border: var(--gray) !important;
}

.btn-secondary {
    background-color: white;
    border: 1px solid var(--color);
    border-radius: 0px !important;
    color: var(--color);
    font-weight: bold;
}

.container2 {
    position: relative;
    text-align: center;
    color: white;
}

.bottom-right {
    position: absolute;
    bottom: 4vh;
    right: 4vw;
}

.subtitle2 {
    font-family: var(--font-subtitle);
}

.cover-container {
    width: 100%;
    white-space: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
}

.cover-item {
    position: relative;
    display: inline-block;
    margin: 8px 8px;
    vertical-align: bottom;
    background-position: top left;
    background-repeat: no-repeat;
    background-size: cover;
}

a {
    color: var(--color);
}

.footer {
    height: auto;
    margin-top: -50px;
    background-color: var(--color);
    color: white;
}

.espacio-lineas {
    line-height: 2rem;
}

.containerimg {
    position: relative;
}

.captionimg {
    position: absolute;
    bottom: 0px;
    font-size: 18px;
    background-color: black;
    width: 80%;
    left: 16px;
    color: white;
    text-align: center;
    font-weight: bolder;
}

.containerHover {
    position: relative;
    /* width: 50%; */
}

.image {
    display: block;
    width: 100%;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: black;
}

.containerHover:hover .overlay {
    opacity: 1;
}

.textHover {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

footer {
    clear: both;
    position: relative;
    height: 200px;
    margin-top: -200px;
}

.accordion .card {
    border: none !important;
}

.accordion .card-header {
    background-color: white;
}

.btn.focus, .btn:focus {
    box-shadow: none !important;
}

hr {
    color: var(--gray);
}

.portada {
    background-image: url("../images/portadamoringa.png");
}

.container3 {
    position: relative;
    text-align: center;
    color: black;
}

.bottom-right2 {
    position: absolute;
    bottom: 3vh;
}

.text-white {
    color: white;
}

.espaciado-text {
    margin-top: 11rem;
}

.navbar-toggler {
    border: 0px solid !important;
}

button:focus {
    outline: 0px solid !important;
}

.comillas {
    font-family: var(--font-comillas);
    font-size: 4rem;
}